# BD Producción
PROD_DB_PASSWORD=cambiar_por_password_real

# BD QA
QA_DB_PASSWORD=cambiar_por_password_real

# pgAdmin
PGADMIN_PASSWORD=cambiar_por_password_real

# FPE — generar clave hex de 32 caracteres con: openssl rand -hex 16
FPE_KEY=generar_clave_hex_32_caracteres
FPE_TWEAK=tweak_personalizado